<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数 <%= user.followings.count %></td>
        <td>フォロワー数 <%= user.followers.count %></td>
        <td>
            <% if current_user.following?(user) %>

            <%= form_with model:current_user.relationships.find_by(followed_id: user.id), url:relationships_path, method: :delete, local: true do |f| %>
            <%= f.hidden_field :followed_id, value: user.id %>
            <%= f.submit "フォロー外す", class: "point" %>
            <% end %>
            <% else %>

            <%= form_with model:@set_relationship, url:relationships_path, local: true do |f| %>
            <%= f.hidden_field :followed_id, value: user.id %>
            <%= f.submit "フォローする", class: "point" %>
            <% end %>
            <% end %>
        </td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
