<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
   <% if user.following.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(user), method: :delete do %>
        follows <%= user.following.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(user), method: :post do %>
        follows <%= user.following.favorites.count %>
      <% end %>
    </p>
  <% end %>
  </tr>
  <tr>
    <% if user.followers.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(user), method: :delete do %>
        followers <%= user.followers.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(user), method: :post do %>
        followers <%= user.followers.favorites.count %>
      <% end %>
    </p>
  <% end %>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>