<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to followings_user_path(user.id) do %><%= user.followings.count %><% end %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to followers_user_path(user.id) do %><%=user.followers.count %><% end %></th>
  </tr>

 <tr>
   <th><% if user == current_user %>
         <div class='row'>
          <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
         </div>
        <div>
        <% else %>
     <% if current_user.following?(user) %>

       <%= form_with model:@relationship, url:relationships_path, method: :delete, local: true do |f| %>
        <%= f.hidden_field :followed_id, value: user.id %>
        <%= f.submit "フォロー外す" %>
       <% end %>
     <% else %>

       <%= form_with model:@set_relationship, url:relationships_path, local: true do |f| %>
        <%= f.hidden_field :followed_id, value: user.id %>
        <%= f.submit "フォローする" %>
       <% end %>
       <% end %>
        </div>
     <% end %>
  </th>
 </tr>
</table>